/* Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

/* Variables */
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --darker-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* General */
body {
  font-family: "Nunito Sans", sans-serif;
}

/* Utility classes */
.flex--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
