/* Reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Variables */
:root {
  --dark-blue: hsl(209, 23%, 22%);
  --darker-blue: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* General */
body {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--light-gray);
}

body[data-darktheme] {
  background-color: var(--darker-blue);
}

.container {
  --max-width: 1440px;
  --padding: 3rem;

  max-width: min(var(--max-width), 100% - var(--padding));
  margin-inline: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Utility classes */
.flex--space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
